
@{
    ViewBag.Title = "Контакты";
}

<h2>Обратная связь</h2>
<table class="table table-bordered table-contacts">
    <tr>
        <td>
            Сообщить об ошибке:
        </td>
        <td>
            <a href="https://github.com/miyconst/Cyriller/issues" target="_blank" class="btn btn-primary">
                <i class="fa fa-github"></i>
                Перейти на GitHub
            </a>
        </td>
    </tr>
    <tr>
        <td>
            Перейти на мой сайт-блог:
        </td>
        <td>
            <a href="http://www.miyconst.com/" target="_blank" class="btn btn-success">
                <i class="fa fa-anchor"></i>
                www.miyconst.com
            </a>
        </td>
    </tr>
    <tr>
        <td>
            Написать мне письмо:
        </td>
        <td>
            <a href="mailto:const@miyconst.com" target="_blank" class="btn btn-success">
                <i class="fa fa-envelope"></i>
                const@miyconst.com
            </a>
        </td>
    </tr>
    <tr>
        <td>
            Написать мне в скайп:
        </td>
        <td>
            <a href="skype:miyconst" target="_blank" class="btn btn-info">
                <i class="fa fa-skype"></i>
                miyconst
            </a>
        </td>
    </tr>
</table>
@{
    Html.RenderPartial("_Donate", null);
}
