@{
    ViewBag.Title = "Новости";
}

<h1>Кириллер - новости проекта</h1>
<div class="news">
    <div class="news-item">
        <time class="news-date" datetime="2017-08-18">18-го августа 2017 г.</time>
        <h2 class="news-title">
            Массовое склонение слов и фраз
        </h2>
        <div class="news-body">
            <p>
                После многочисленных просьб сделать массовое склонение, у меня наконец-то дошли руки до этой задачи.
            </p>
            <p>
                Добавлена возможность склонять сразу много (до 50) слов или фраз – <a href="@Url.Content("~/Decline/List")">Склонять много фраз</a>.
            </p>
            <p>
                Добавлена возможность склонять слова или фразы в текстовых и Microsoft Excel документах – <a href="@Url.Content("~/Decline/File")">Склонять файл</a>.
            </p>
        </div>
    </div>
    <div class="news-item">
        <time class="news-date" datetime="2015-02-16">16-го февраля 2015 г.</time>
        <h2 class="news-title">
            Полная переработка проекта и добавление новых возможностей
        </h2>
        <div class="news-body">
            <p>
                После небольшого общения с автором вот этого творения:
                <a href="http://yeaahcode.blogspot.com/2015/01/lingvonet.html">LingvoNET - Библиотека для склонения и спряжения слов русского языка</a>,
                я уже хотел забросить работу над проектом. Но, как выяснилось, автор не готов выложить свою работу в OpenSource для открытого использования, поэтому работа над Кириллером продолжается.
            </p>
            <p>
                Тем не менее, я решил переделать Кириллер с использованием его подхода. Результат можно скачать и протестировать прямо на сайте.
            </p>
            <p>
                Так же добавил склонение прилагательных, словосочетаний из существительных и прилагательных, а так же написание чисел прописью.
            </p>
            <p>
                Класс CyrNumber, стоит особняком и может быть использован отдельно, без проекта Кириллер.
            </p>
        </div>
    </div>
    <div class="news-item">
        <time class="news-date" datetime="2015-01-06">1-го января 2015 г.</time>
        <h2 class="news-title">
            Выпущена первая версия Кириллера
        </h2>
        <div class="news-body">
            <p>
                Вот, наконец-то собрал во едино свои наработки по Кириллеру и выложил в отдельный проект на GitHub.
            </p>
        </div>
    </div>
</div>